.name {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #DEF3F6;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  width: 100%;
  height: 380px;
  background-color: #76B6C4;
  justify-content: center;
  align-items: center;
  position: relative;
}

.central-container {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.about-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 30px;
}

.body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 700px;
  background-color: #def3f6;
  justify-content: flex-start;
  align-items: center;
}

.body-central-container {
  display: flex;
  width: 75%;
  flex-direction: column;
}

a {
  text-decoration: none;
}

embed.resume {
  height: 500px;
}

h1 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 28px;
}

h1.portfolio {
  padding: 15px 0px 0px 0px;
  color: #064273;
}

h2 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  color: #064273;
}

hr {
  width: 75%;
  color: #064273;
}

p {
  font-family: "Brandon Groteque", "Helvetica now";
  font-size: 15px;
}
