* {
  margin: 0px;
  padding: 0px;
}

.yellow-tape {
  width: 100%;
  height: 30px;
  background-image: url('Images/yellow-tape.jpg');
}

.construction-wrapper {
  display: flex;
  width: 100%;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-image: url("Images/jpeg_medium.jpeg");
}

.links ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.links li {
  margin: 0px 5px;
}

.about {
  display: flex;
  width: 100%;
  height: auto;
  /* background-image: url("Images/cyan-fabric.jpeg"); */
  justify-content: center;
  align-items: flex-end;
}

.central-container {
  display: flex;
  width: 50%;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 30px;
}

.body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-image: url("Images/jpeg_medium.jpeg");
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 50px;
}

.body-central-container {
  display: flex;
  width: 75%;
  flex-direction: column;
}

.postmastr {
  display: flex;
  flex-direction: column;
}

a {
  font-size: 12px;
}

a.logo {
  border-radius: 50%;
}

button.expand-collapse {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  opacity: 1;
}

button.expand-collapse:hover {
  opacity: 0.5;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #76B6C4;
  height: 30px;
}

h1 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 24px;
  /* color: #064273; */
}

h1.portfolio {
  margin-top: 30px;
}

h1.name {
  color: #064273;
}

h2 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  /* color: #064273; */
  padding: none;
  margin-top: 15px;
}

header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: #def3f6;
  border-bottom: 1px solid gray;
}

hr {
  width: 75%;
  border: none;
  height: 1px;
  background-color: #064273;
  margin: 30px 0px;
}

img.logo {
  opacity: 0.5;
  border-radius: 50%;
}

img.logo:hover {
  opacity: 1;
}

img.profile {
  width: 40%;
  height: auto;
}

img.resume {
  width: 100%;
  height: auto;
}

p {
  font-family: Courier, monospace;
  font-size: 15px;
}

p.footer {
  color: #def3f6;
  font-family: Helvetica, sans-serif;
}
