* {
  margin: 0px;
  padding: 0px;
}

.name {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #DEF3F6;
  justify-content: center;
  align-items: center;
}

.ghlink-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
}

.about {
  display: flex;
  width: 100%;
  height: 350px;
  background-color: #76B6C4;
  justify-content: center;
  align-items: flex-end;
}

.central-container {
  display: flex;
  width: 50%;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.about-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0px 30px;
}

.body-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1200px;
  background-color: #def3f6;
  justify-content: flex-start;
  align-items: center;
}

.body-central-container {
  display: flex;
  width: 75%;
  flex-direction: column;
}

a.ghlogo {
  padding-right: 30px;
  border-radius: 50%;
}

embed.resume {
  height: 1000px;
}

h1 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 24px;
}

h1.portfolio {
  padding: 15px 0px;
  color: #064273;
}

h2 {
  font-family: "Big Caslon", "Times New Roman", Times, serif;
  font-weight: normal;
  color: #064273;
  padding: 15px 0px;
}

hr {
  width: 75%;
  color: #064273;
}

img.ghlogo {
  opacity: 0.5;
  border-radius: 50%;
}

img.ghlogo:hover {
  opacity: 1;
}

p {
  font-family: "Public Sans", Helvetica;
  font-size: 15px;
}
